@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ShareBites</h1>
    <p>Welcome to sharebites, Every bite counts. Share the love, Share the food</p>
</div>
