@model ShareBites.Models.RegionMaster

@{
    ViewData["Title"] = "Create Region";
}

<br />
<br />

<h4 class="display-6">Add Region</h4>
<br />
<hr />
@if (ViewBag.success)
{
    <div id="success-message">
        Region Added Successfully
    </div>

}
<div class="row display-10">
    <div class="col-md-4">
        <form asp-action="AddRegion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <input asp-for="RegionId" class="form-control" />
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionName" class="control-label"></label>
                <input asp-for="RegionName" class="form-control" />
                <span asp-validation-for="RegionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Add Region" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
            </div>
        </form>
    </div>
</div>


