@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<br />
<h4 class="display-6">Admin functions</h4>
<hr />
<br />
<div class="container-fluid display-10">
    @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShareBites</a>*@
    @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>*@
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between display-10">
        <div class="indent">
        <ul class="navbar-nav flex-grow-1" >
           @* <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
            </li>*@
            <li class="nav-item display-10" >
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetSponsor" style="font-family:Georgia,Cambria," Times New Roman",Times,serif;">Sponsor List</a>
            </li>
            <li class="nav-item display-10">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetRegions" style="font-family:Georgia,Cambria," Times New Roman",Times,serif;">Region List</a>
            </li>
            <li class="nav-item display-10" >
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CreateRegion" style="font-family:Georgia,Cambria," Times New Roman",Times,serif;">Add Region</a>
            </li>
        </ul>
        </div>
    </div>
</div>
<div class="container-fluid display-10">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1" >
            @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>*@
            <li class="nav-item display-10" style="font-family:Georgia,Cambria," Times New Roman",Times,serif;">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserType" asp-action="SponsorReg" >New Sponsor</a>
            </li>
            <li class="nav-item display-10" style="font-family:Georgia,Cambria," Times New Roman",Times,serif;">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserType" asp-action="ShelterReg">New Shelter</a>
            </li>
            <li class="nav-item display-10"style="font-family:Georgia,Cambria,"Times New Roman",Times,serif;">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserType" asp-action="HelperReg">New Helper </a>
            </li>
            <li class="nav-item display-10" style="font-family:Georgia,Cambria," Times New Roman",Times,serif;">
                <a class="nav-link text-dark" asp-area="" asp-controller="UserType" asp-action="RestReg">New Restaurant </a>
            </li>
        </ul>
    </div>
</div>